<%
#locals
blog ||= @blog
%>




<div id="blog">
  <% less_form_for [@profile, blog] do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :body %>
    
		To embed media just wrap the url in [embedit: url_goes_here]. <%= link_to 'Here a list of supported services', 'http://embedit.me/lovd-by-less' %>.
	  <div class="row button">
    	<%= f.submit 'Save', :class=>'button' %>
  	</div>
  <% end %>
</div>